<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1293">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Screen_Shot_2024-03-08_at_1.55.56_am-removebg-preview.png" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Example Text / Auxilliary heading / Example Text / Auxilliary heading
            </p>
            <a href="mailto:info@mail.com" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Screen_Shot_2024-03-08_at_1.55.56_am-removebg-preview.png" alt="icon" width="24" height="24">
                email@nationalfurnituresupplies.com
            </a>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
            <a class="cs-nav-link" href="/">  <span class="cs-header">Home</span></a>  
            </li>
           
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">     <span class="cs-header">About</span></a>  
            </li>
           
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">    <span class="cs-header">Products</span></a>  
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/screws">Screws</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/bolts">Bolts</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/abrasives">Abrasives</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/a">Staples and Nails</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/a">Nail Coils</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/a">Cabinet Supplies</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/a">Pins and Staples</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/a">Brads and Staples</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/a">Rivets</a>
            </li>
       
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact">    <span class="cs-header">Contact</span></a>
            </li>
          
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2023
            <a class="cs-copyright-link" href="">National</a> <br>
            <a class="cs-copyright-link" href="http://melbournewebsitesupply.com"> Website designed and hand-coded by Melbourne Website Supply</a>
        </span>
        <a href="" class="cs-copyright-link">Terms of Service</a>
        <a href="" class="cs-copyright-link">Privacy Policy</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater" aria-hidden="true"></div>
</footer>
                                