---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="Aboutbanner-328">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/1_0dcCrJL2wdU7kb2QKEd9zA.jpeg">
        <source media="(min-width: 601px)" srcset="/assets/images/1_0dcCrJL2wdU7kb2QKEd9zA.jpeg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/1_0dcCrJL2wdU7kb2QKEd9zA.jpeg" alt="" width="1920" height="375">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="ABoutRPsbs-328">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/unirack-uygulama-20.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/unirack-uygulama-20.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/unirack-uygulama-20.jpeg" alt="" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/Custom-Cabinet-Boston.jpeg
                ">
                <source media="(min-width: 601px)" srcset="/assets/images/Custom-Cabinet-Boston.jpeg">
                <img loading="lazy" decoding="async" src=" /assets/images/Custom-Cabinet-Boston.jpeg
                " alt="" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">About National</h2>
            <p class="cs-text">
              
With a legacy spanning two decades, National has remained the cornerstone for furniture makers, cabinet manufacturers, and industrial factories across Victoria. Our commitment to excellence is evident in our top-notch products and efficient delivery services, ensuring your craftsmanship thrives with every project.
            </p>
            <div class="cs-quote">
                <span class="cs-quote-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                </span>
                <span class="cs-name">Ivon</span>
                <span class="cs-job">Owner</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>

            <div class="CENTERED-button-container">
          
          
                <a href="/all_products" class="cs-button-solid">View Products</a>
      
            </div>
      
            </div>
    </div>
</section>
                                

               
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="AboutStrip-328">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <a href="" class="cs-link">123 Fake St, STE 100 <br> Somewhere, FL 98755</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Open Hours</span>
                <span class="cs-hours">Monday To Saturday</span>
                <span class="cs-hours">9:00 AM - 10:30 PM</span>
            </div>
        </li>
    </ul>
</div>
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="Aboutsbs-328">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Showplace_12_21_2021_16_Web-375x400.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/Showplace_12_21_2021_16_Web-375x400.jpeg">
            <img loading="lazy" decoding="async" src="/assets/images/Showplace_12_21_2021_16_Web-375x400.jpeg" alt="consult" width="520" height="680" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Specialty</span>
            <h2 class="cs-title">We Work with cabinet-makers, furniture-makers, industrial centres and more</h2>
            <p class="cs-text">
              


We pride ourselves on sourcing only the finest high-grade materials, guaranteeing durability and reliability in every product. From screws and bolts to cabinet sliders, we offer a comprehensive range tailored to meet your specific needs. With convenient delivery options covering most areas of Australia, your orders reach you swiftly, without hassle. Our dedication extends beyond mere transactions – we're here to provide expert guidance, answer inquiries, and discuss custom order options to elevate your craft. 
            </p>
            <a class="cs-button-solid" aria-label="" href="/contact">Learn More</a>

        </div>
    </div>
</section>
           
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-983">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Make an Enquiry</h2>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-983" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-587-983" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-587-983" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-587-983" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                How did you hear about us?
                <input class="cs-input" required type="text" id="hear-587-983" name="heat" placeholder="Google">
            </label>
            <label class="cs-label cs-message">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-587-983" placeholder="Write message..."></textarea>
            </label>
            <div class="cs-wrapper">
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </div>
        </form>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-bg-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-bg.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-bg.jpg" alt="hair salon" width="2500" height="770">
    </picture>
</section>
                                               


{% endblock %}