---
title: 'Pins and Staples'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'pins_and_staples/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/products_pages.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="Aboutbanner-328">
    <div class="cs-container">
        <span class="cs-int-title">Pins and Staples</span>
        <div class="cs-breadcrumbs">
            <a href="/all_products" class="cs-link">Products</a>
            <a href="" class="cs-link cs-active">Pins and Staples</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/AdobeStock_140300520.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/AdobeStock_140300520.webp">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/AdobeStock_140300520.webp" alt="library" width="1920" height="375">
    </picture>
</div>
  

                                

    {% include 'components/cta.html' %}

{% endblock %}