---
title: 'Rivets'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'rivets/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/products_pages.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="Aboutbanner-328">
    <div class="cs-container">
        <span class="cs-int-title">Rivets</span>
        <div class="cs-breadcrumbs">
            <a href="/all_products" class="cs-link">Products</a>
            <a href="" class="cs-link cs-active">Rivets</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/Unravel-The-Power-Of-Rivets-Design-Types-Real-World-Applications-1024x652.png">
        <source media="(min-width: 601px)" srcset="/assets/images/Unravel-The-Power-Of-Rivets-Design-Types-Real-World-Applications-1024x652.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Unravel-The-Power-Of-Rivets-Design-Types-Real-World-Applications-1024x652.png" alt="library" width="1920" height="375">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="ABoutRPsbs-328">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            
            <picture class="cs-picture cs-picture2">
                <a href="/assets/images/429839458_1702569556936297_8804385667664852863_n (1).jpg" target="_blank">
                <source media="(max-width: 600px)" srcset="/assets/images/429839458_1702569556936297_8804385667664852863_n (1).jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/429839458_1702569556936297_8804385667664852863_n (1).jpg">
                <img loading="lazy" decoding="async" src="/assets/images/429839458_1702569556936297_8804385667664852863_n (1).jpg" alt="gavel" width="414" height="400" aria-hidden="true">
            </a>
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Rivets</span>
            <h2 class="cs-title">Fascor Blind Rivets</h2>
            <p class="cs-text">
                <div class="buttons-container">
                
                    <a  class="custom-button-solid snipcart-add-item"  data-item-id="CK412 screws"
                    data-item-price="82.20"
                    data-item-description="Packet of 1000 CK412 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CK412 screws">CK412</a> 
                    
                    <a  class="custom-button-solid snipcart-add-item"  data-item-id="CKT612 screws"
                    data-item-price="96.90"
                    data-item-description="Packet of 1000 CKT612 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT612 screws">CKT612</a>
                    
                    <a  class="custom-button-solid snipcart-add-item"  data-item-id="CKT620 screws"
                    data-item-price="110.50"
                    data-item-description="1 packet of 1000 CKT620 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT620 screws">CKT620</a>
                    
                    <a  class="custom-button-solid snipcart-add-item"  data-item-id="CKT625 screws"
                    data-item-price="117.40"
                    data-item-description="1 packet of 1000 CKT625 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT625 screws">CKT625</a> 
                    
                    <a  class="custom-button-solid snipcart-add-item"  data-item-id="CKT650 screws"
                    data-item-price="76.35"
                    data-item-description="1 packet of 500 CKT650 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT650 screws">CKT650</a> 
                    
                    
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT820 screws"
                    data-item-price="118.10"
                    data-item-description="1 packet of 1000 CKT820 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT820 screws">CKT820</a> 
                    
                    
                    <a  class="custom-button-solid snipcart-add-item"  data-item-id="PHT820 screws"
                    data-item-price="118.10"
                    data-item-description="1 packet of 1000 PHT820 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="PHT820 screws">PHT820</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="PHT825 screws"
                    data-item-price="103.10"
                    data-item-description="1 packet of 1000 PHT825 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="PHT825 screws">PHT825</a> 
                    
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT825 screws"
                    data-item-price="124.30"
                    data-item-description="1 packet of 1000 CKT825 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT825 screws">CKT825</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT850 screws"
                    data-item-price="85.30"
                    data-item-description="1 packet of 500 CKT850 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT850 screws">CKT850</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1020 screws"
                    data-item-price="66.15"
                    data-item-description="1 packet of 500 HT1020 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1020screws">HT1020</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1020 screws"
                    data-item-price="96.50"
                    data-item-description="1 packet of 500 HNT1020 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1020 screws">HNT1020</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="WT1025 screws"
                    data-item-price="121.80"
                    data-item-description="1 packet of 1000 WT1025 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="WT1025 screws">WT1025</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1025 screws"
                    data-item-price="99.70"
                    data-item-description="1 packet of 1000 HT1025 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1025 screws">HT1025</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1025 screws"
                    data-item-price="131.40"
                    data-item-description="1 packet of 1000 HNT1025 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1025 screws">HNT1025</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="PHT1025 screws"
                    data-item-price="99,70"
                    data-item-description="1 packet of 1000 PHT1025 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="PHT1025 screws">PHT1025</a> 
                    
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT1030 screws"
                    data-item-price="144.40"
                    data-item-description="1 packet of 1000 CKT1030 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT1030 screws">CKT1030</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="WT1035 screws"
                    data-item-price="154.20"
                    data-item-description="1 packet of 1000 WT1035 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="WT1035 screws">WT1035</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT1040 screws"
                    data-item-price="66.40"
                    data-item-description="1 packet of 500 CKT1040 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT1040 screws">CKT1040</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="WT1045 screws"
                    data-item-price="87.80"
                    data-item-description="1 packet of 500 WT1045 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="WT1045 screws">WT1045</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT1050 screws"
                    data-item-price="78.75"
                    data-item-description="1 packet of 500 CKT1050 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT1050 screws">CKT1050</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT1060 screws"
                    data-item-price="113.95"
                    data-item-description="1 packet of 500 CKT1060 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT1060 screws">CKT1060</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="CKT1075 screws"
                    data-item-price="153.85"
                    data-item-description="1 packet of 500 CKT1075 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="CKT1075 screws">CKT1075</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1225 screws"
                    data-item-price="256.25"
                    data-item-description="1 packet of 2500 HT1225 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1225 screws">HT1225</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1225 screws"
                    data-item-price="334.50"
                    data-item-description="1 packet of 2500 HNT1225 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1225 screws">HNT1225</a>
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1230 screws"
                    data-item-price="233.20"
                    data-item-description="1 packet of 2000 HT1230 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1230 screws">HT1230</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1230 screws"
                    data-item-price="320.00"
                    data-item-description="1 packet of 2000 HNT1230 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1230 screws">HNT1230</a> 
                    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1240 screws"
                    data-item-price="131.70"
                    data-item-description="1 packet of 1000 HT1240 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1240 screws">HT1240</a> 
    
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1240 screws"
                    data-item-price="167.90"
                    data-item-description="1 packet of 1000 HNT1240 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1240 screws">HNT1240</a> 
    
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1245 screws"
                    data-item-price="173.55"
                    data-item-description="1 packet of 1500 HT1245 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1245 screws">HT1245</a> 
    
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1245 screws"
                    data-item-price="202.20"
                    data-item-description="1 packet of 1500 HNT1245 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1245 screws">HNT1245</a> 
    
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1250 screws"
                    data-item-price="119.90"
                    data-item-description="1 packet of 1000 HT1250 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1250 screws">HT1250</a> 
    
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1250 screws"
                    data-item-price="141.90"
                    data-item-description="1 packet of 1000 HNT1250 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1250 screws">HNT1250</a> 
    
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="MT1250 screws"
                    data-item-price="134.00"
                    data-item-description="1 packet of 1000 MT1250 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="MT1250 screws">MT1250</a> 
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HT1265 screws"
                    data-item-price="150.80"
                    data-item-description="1 packet of 1000 HT1265 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HT1265 screws">HT1265</a> 
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="HNT1265 screws"
                    data-item-price="187.90"
                    data-item-description="1 packet of 1000 HNT1265 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="HNT1265 screws">HNT1265</a> 
    
                    <a class="custom-button-solid snipcart-add-item"  data-item-id="MT1265 screws"
                    data-item-price="166.40"
                    data-item-description="1 packet of 1000 MT1265 Timber Working screws."
                    data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
                    data-item-name="MT1265 screws">MT1265</a> 
    
                    
                    <a  class="custom-button-solid snipcart-add-item"  data-item-id="HS1020 screws"
        data-item-price="82.50"
        data-item-description="1 packet of 1000 HS1020 screws."
        data-item-url="https://nationalfurnituresupplies.netlify.app/screws/"
        data-item-name="HS1020 screws">HS1020</a>
    
    </div> </p>
      <!--   <div class="cs-quote">
                <span class="cs-quote-text">
                    In consequat tincidunt turpis sit amet imperdiet. 
                </span>
                <span class="cs-name">Justin Time</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
            <a href="" class="cs-button-solid">About Us</a>
        </div>-->
    </div>
</section>

                                

    {% include 'components/cta.html' %}

{% endblock %}