---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

  <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> Quality Hardware Supply</span>
            <h1 class="cs-title">National Hardware Supplies</h1>
            <p class="cs-text">
            Delivering Australia-wide, we are the one-stop-shop for all your furniture, cabinet & industrial supply needs. 
            </p>
            <div class="cs-button-group">
                <a href="#collection-1579" class="cs-button-solid cs-button1">View Products</a>
                <a href="" class="cs-button-solid cs-button2">Get In Touch</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/furniture-cabinetmaking-1.jpeg">
        <source media="(min-width: 601px)" srcset="/assets/images/furniture-cabinetmaking-1.jpeg">
        <img loading="lazy" decoding="async" src="/assets/images/furniture-cabinetmaking-1.jpeg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                

                            
<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1564">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Most Popular</span>
            <h2 class="cs-title">Top Categories</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">Screws</h3>
                        <p class="cs-item-text">
                           Example Text
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/robert-ruggiero-KmRxptmMl8M-unsplash.jpg">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/robert-ruggiero-KmRxptmMl8M-unsplash.jpg">
                    <img decoding="async"
                            src="/assets/images/robert-ruggiero-KmRxptmMl8M-unsplash.jpg"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">Bolts</h3>
                        <p class="cs-item-text">
                            Example Text
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/downloadbolts.jpeg">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/downloadbolts.jpeg">
                    <img decoding="async"
                            src="/assets/images/downloadbolts.jpeg"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">Cabinet Supplies</h3>
                        <p class="cs-item-text">
                            Example Text
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/images (2).jpeg">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/images (2).jpeg">
                    <img decoding="async"
                            src="/assets/images/images (2).jpeg"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">View All Products</h3>
                        <p class="cs-item-text">
                            Example Text
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/nails-955731_1280.jpeg">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/nails-955731_1280.jpeg">
                    <img decoding="async"
                            src="/assets/images/nails-955731_1280.jpeg"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
        <img class="cs-background-top"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/fishing-rod.png" alt="rod" width="268"
                height="537" loading="lazy" decoding="async">
        <img class="cs-background-bottom"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/fishing-rod.png" alt="rod" width="268"
                height="537" loading="lazy" decoding="async">
    </div>
</section>
 <!--
    NOTE: This Stitch has overflow on the bottom of the section and will overlap the section below it in your site. To account for this overlap, add this padding top to the 1024px (64rem) media query for the seciton below it:

    /* 150px - 200px */
    padding-top: clamp(9.375rem, 16vw, 12.5rem);

    If there is not 1024px media query, create one and add this padding top to the #ID of the section.  This will help it account for the overlap from this section and not look cluttered and cramped */
-->

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What Makes Us Unique</span>
            <h2 class="cs-title">The National Difference</h2>
            <p class="cs-text">
               Wherever you are in Australia, the combination of our quality materials, reliable communication and convenient delivery are what make us exceptional

               
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/icons8-correct-100 (3).png" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">High Grade Materials</h2>
                    <p class="cs-item-text">
                        Utilising only the finest high-grade materials ensures our products meet the highest standards of quality and durability.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/icons8-truck-100 (1).png" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Flexible Delivery</h2>
                    <p class="cs-item-text">
                        Our convenient delivery service ranges across most places in Australia, enabling your orders to reach you swiftly and hassle-free.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/icons8-screws-100 (1).png" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Product Variety</h2>
                    <p class="cs-item-text">
                       Our range offers multiple sizes and type variations within each category, so you'll likely find what suits your needs.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/icons8-phone-100 (1).png" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Open Communication</h2>
                    <p class="cs-item-text">
                        We are available by phone to answer any questions, provide updates and discuss custom order options to suit each customer.
                    </p>
                </div>
            </li>
        </ul>
    </div>                            
</section>
                                
     <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1560">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/istockphoto-1063601390-612x612.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/istockphoto-1063601390-612x612.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/istockphoto-1063601390-612x612.jpeg" alt="mechanic" width="305" height="265">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/download.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/download.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/download.jpeg" alt="mechanic" width="197" height="265">
            </picture>
            <!--Bottom Left image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/istockphoto-1337180384-612x612.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/istockphoto-1337180384-612x612.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/istockphoto-1337180384-612x612.jpeg" alt="mechanic" width="217" height="230">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/shutterstock_518989807.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/shutterstock_518989807.webp">
                <img loading="lazy" decoding="async" src="/assets/images/shutterstock_518989807.webp" alt="mechanic" width="304" height="212">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Factory-Cabinet-Shop-Boston.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Factory-Cabinet-Shop-Boston.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/Factory-Cabinet-Shop-Boston.jpeg" alt="mechanic" width="305" height="445">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">
                Reliably Supplying Victorian Industry For More Than 20 Years
            </h2>
            <p class="cs-text">
                
For over two decades, we've been the go-to for furniture makers, cabinet makers, and industrial factories across Victoria. Whether you need anything ranging from top-notch screws and bolts to cabinet sliders, National have got your supply and delivery neeeds covered. Count on us to reliably suit whatever your craftsmanship or industry needs may be.
            </p>
            <a href="" class="cs-button-solid">More About Us</a>
        </div>
    </div>
</section>
      
 <!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1579">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Product Range</span>
            <h2 class="cs-title">Our Products</h2>
        </div>

        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/robert-ruggiero-KmRxptmMl8M-unsplash.jpg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/robert-ruggiero-KmRxptmMl8M-unsplash.jpg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/robert-ruggiero-KmRxptmMl8M-unsplash.jpg" width="365"
                                height="201" alt="purse">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Screws</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/edge2edge-media-qHhJkxare7A-unsplash.jpg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/edge2edge-media-qHhJkxare7A-unsplash.jpg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/edge2edge-media-qHhJkxare7A-unsplash.jpg"
                                width="365" height="201" alt="t-shirt">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Bolts</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
         
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/Flap-Discs.jpeg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/Flap-Discs.jpeg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/Flap-Discs.jpeg"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Abrasives</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/s-l1200.jpeg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/s-l1200.jpeg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/s-l1200.jpeg"
                                width="365" height="201" alt="perfume">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Staples and Nails</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/istockphoto-614977050-612x612.jpeg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/istockphoto-614977050-612x612.jpeg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/istockphoto-614977050-612x612.jpeg"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Nail Coils</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/Side-Mound-Drawer-Slides-vs-Roller-Slides-1024x683.jpeg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/Side-Mound-Drawer-Slides-vs-Roller-Slides-1024x683.jpeg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/Side-Mound-Drawer-Slides-vs-Roller-Slides-1024x683.jpeg"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Cabinet Supplies</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/AdobeStock_140300520.webp">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/AdobeStock_140300520.webp">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/AdobeStock_140300520.webp"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Pins and Staples</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/1564661289782.jpeg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/1564661289782.jpeg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/1564661289782.jpeg"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Brads and Staples</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/Unravel-The-Power-Of-Rivets-Design-Types-Real-World-Applications-1024x652.png">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/Unravel-The-Power-Of-Rivets-Design-Types-Real-World-Applications-1024x652.png">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/Unravel-The-Power-Of-Rivets-Design-Types-Real-World-Applications-1024x652.png"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Rivets</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/istockphoto-1351452545-612x612.jpeg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/istockphoto-1351452545-612x612.jpeg">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/istockphoto-1351452545-612x612.jpeg"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">View All</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            
           
        </ul>
    </div>
</section>



<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="promotions-1583">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We also repair power tools and Pneumatic Tools</h2>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
        <!-- Wrapper in a wrapper div so we can apply overlfow hidden to this div to cut off the overflow on the right edge at 1024px wide and not clip the overflow that hangs over the bottom -->
        <div class="cs-wrapper">
            <div class="cs-image-group">
                <!--Product Image, to get transparent PNG's of your products with a background, we use https://www.remove.bg/ to remove the images. They will come with empty space around them, to remove this empty space, crop your image to only the edges of the actual image. Or open it in GIMP photo editing software, at the top nav click on "Image" then "Crop to content" and this will remove the empty space around the PNG. Then export as a PNG to your project folder and you're done!-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Screen_Shot_2024-03-09_at_3.45.05_pm-removebg-preview.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/Screen_Shot_2024-03-09_at_3.45.05_pm-removebg-preview.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Screen_Shot_2024-03-09_at_3.45.05_pm-removebg-preview.png" alt="lure" width="771" height="488" aria-hidden="true">
                </picture>
                <div class="cs-price-box">
                    <!--Price Star-->
                    <svg class="cs-star" width="183" height="183" viewBox="0 0 183 183" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M106.942 0.641784L111.509 31.9019L134.192 9.9126L128.875 41.054L157.243 27.1504L142.564 55.1248L173.84 50.6679L151.234 72.7369L182.357 78.1629L154.038 92.1663L181.961 106.944L150.7 111.511L172.69 134.194L141.548 128.878L155.452 157.246L127.478 142.566L131.934 173.842L109.865 151.237L104.439 182.359L90.4361 154.04L75.6582 181.963L71.0912 150.703L48.4081 172.692L53.7246 141.551L25.3566 155.454L40.0361 127.48L8.76008 131.937L31.3656 109.868L0.243131 104.442L28.562 90.4384L0.639466 75.6605L31.8996 71.0936L9.91029 48.4105L41.0517 53.7269L27.1481 25.3589L55.1225 40.0384L50.6655 8.7624L72.7345 31.3679L78.1606 0.245449L92.164 28.5643L106.942 0.641784Z" fill="var(--starColor)"/>
                    </svg>
                    <span class="cs-price">
                        
                        <span class="cs-desc">&nbsp; Get Us <br> to fix it!</span>
                    </span>
                </div>
        </div>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/360_F_137390727_SBxrZRXUmCabRUAfyPPGWfpDGim9OFAg.jpeg">
        <source media="(min-width: 601px)" srcset="/assets/images/360_F_137390727_SBxrZRXUmCabRUAfyPPGWfpDGim9OFAg.jpeg">
        <img loading="lazy" decoding="async" src="/assets/images/360_F_137390727_SBxrZRXUmCabRUAfyPPGWfpDGim9OFAg.jpeg" alt="waves" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1565">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/429847036_1072922100485226_5195457083839529665_n.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/429847036_1072922100485226_5195457083839529665_n.jpeg">
            <img loading="lazy" decoding="async" src="/assets/images/429847036_1072922100485226_5195457083839529665_n.jpeg" alt="model" width="586" height="752" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Get Started</span>
            <h2 class="cs-title">How to Place an Order</h2>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/price-tag.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Take note of the item's product code</h3>
                        <p class="cs-li-text">
                            The product description code can usually be found in the first left hand column of the item's listing. 
                            <br>
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/sheild.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Click on the corresponding button that matches the product description code.</h3>
                        <p class="cs-li-text">
                           This will take you to the checkout,  where you can adjust quantity and add extra order details for the selected item. <br> <br> <span class="link-text-in-paragraph">Please Note:</span> The delivery fee is not included at this stage.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/bag.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Get it delivered</h3>
                        <p class="cs-li-text">
                           A $20 flat-delivery-fee can be paid through the payment link listed on the purchase receipt sent to your email (or click <a href="" target="_blank" class="link-text-in-paragraph">here</a>). This will complete your order and enable it to be processed.
                        </p>
                    </div>
                </li>
            </ul>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<div id="logos-1565">
    <div class="cs-container">
        <span class="cs-header"></span>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <span class="cs-header">Please Note: Only one delivery fee payment of $20 is required, regardless of the quantity of items / different types purchased.
        </span>
        
        </div>
    </div>
    <!-- Background Graphic -->
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg" alt="waves" width="1920" height="300" aria-hidden="true" loading="lazy" decoding="async">
    </picture>
</div>


 <!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1570">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Most Popular</h2>
            <a href="" class="cs-button-solid">View All Collection</a>
        </div>
        <div class="cs-card-group">
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png" alt="hats" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Blue Chunky Beanie</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="quote icon" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png" alt="alpaca crewneck" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Oversized Alpaca Crew</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="quote icon" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png" alt="hoodie" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Diesel V2 Hoodie</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="five star reviews" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/blue-sweater.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/blue-sweater.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/blue-sweater.png" alt="blue sweater" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Oversized Alpaca Crew</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="quote icon" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



                                <!-- ============================================ -->
<!--                 Promotions                   -->
<!-- ============================================ -->

<section id="promotions-1567">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/1_0dcCrJL2wdU7kb2QKEd9zA.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/1_0dcCrJL2wdU7kb2QKEd9zA.jpeg">
                    <img loading="lazy" decoding="async" src="/assets/images/1_0dcCrJL2wdU7kb2QKEd9zA.jpeg" alt="room" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Extra Large Order?</span>
                    <h2 class="cs-h2">Discuss Bulk Quantity Rates with Us</h2>
                    <a href="" class="cs-button-solid">Contact Us</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/images (1).jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/images (1).jpeg">
                    <img loading="lazy" decoding="async" src="/assets/images/images (1).jpeg" alt="room" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Got a Question About An Item?</span>
                    <h2 class="cs-h2">Get In Touch</h2>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                  
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1575">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/thumbs-up.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">5-Star</span>
                <span class="cs-desc">Customer Service Ratings</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/box.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">10</span>
                <span class="cs-desc">Days free return policy</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/hand.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">9am - 5pm</span>
                <span class="cs-desc">Direct Customer Support Line</span>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg" alt="wave" width="1280" height="568">
    </picture>
</section>                   

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1575">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <div class="cs-row">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/unirack-uygulama-20.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/unirack-uygulama-20.jpeg">
                    <img loading="lazy" decoding="async" src="/assets/images/unirack-uygulama-20.jpeg" alt="man" width="305" height="410">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/Custom-Cabinet-Boston.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Custom-Cabinet-Boston.jpeg">
                    <img loading="lazy" decoding="async" src="/assets/images/Custom-Cabinet-Boston.jpeg
                     " alt="man fishing" width="305" height="467">
                </picture>
            </div>
            <div class="cs-row">
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="
                    /assets/images/Screen Shot 2024-03-08 at 12.51.50 am.png">
                    <source media="(min-width: 601px)" srcset="
                    /assets/images/Screen Shot 2024-03-08 at 12.51.50 am.png">
                    <img loading="lazy" decoding="async" src="
                    /assets/images/Screen Shot 2024-03-08 at 12.51.50 am.png" alt="man fishing" width="305" height="615">
                </picture>
                <picture class="cs-picture cs-picture4">
                    <source media="(max-width: 600px)" srcset="/assets/images/behind-the-scenes-cabinetmaker-s-workshop-naturescollection-eu.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/behind-the-scenes-cabinetmaker-s-workshop-naturescollection-eu.jpeg">
                    <img loading="lazy" decoding="async" src="/assets/images/behind-the-scenes-cabinetmaker-s-workshop-naturescollection-eu.jpeg" alt="fish" width="305" height="277">
                </picture>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is your plan cancellation policy?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}