---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

  <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> Save Our Earth, One Person at a Time</span>
            <h1 class="cs-title">Let’s Go Green As It Makes Environment</h1>
            <p class="cs-text">
                We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid cs-button1">Join Community</a>
                <a href="" class="cs-button-solid cs-button2">Donate Now</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                

    <!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1570">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">New Collection</h2>
            <a href="" class="cs-button-solid">View All Collection</a>
        </div>
        <div class="cs-card-group">
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-beanie.png" alt="hats" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Blue Chunky Beanie</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="quote icon" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-alpaca.png" alt="alpaca crewneck" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Oversized Alpaca Crew</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="quote icon" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-hoodie.png" alt="hoodie" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Diesel V2 Hoodie</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="five star reviews" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-image-group">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/blue-sweater.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/blue-sweater.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/blue-sweater.png" alt="blue sweater" width="1280" height="568">
                        </picture>
                        <span class="cs-offer">-20%</span>
                    </div>
                    <div class="cs-details">
                        <span class="cs-tags">New Item</span>
                        <h3 class="cs-product">Oversized Alpaca Crew</h3>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">$7.00</span>
                                <span class="cs-old-price">$12.00</span>
                                <!--Stars-->
                                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/stars.svg" decoding="async" alt="quote icon" width="92" height="16">
                            </div>
                            <button class="cs-buy">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/shopping-bag.svg" decoding="async" alt="buy" width="24" height="24" loading="lazy">
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">What We Provide To Our Customer</h2>
            <p class="cs-text">
                Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and demi-permanent coverage.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">100% Success Rate</h2>
                    <p class="cs-item-text">
                        We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dashboard-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Expert Legal Services</h2>
                    <p class="cs-item-text">
                        Fortune 500 companies to smaller and medium-sized companies to help manage risks to as low as reasonably practical.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Lifebuoy-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Business Strategy</h2>
                    <p class="cs-item-text">
                        Highly experienced staff of more than 100 professionals averaging 29+ years in industry and hands-on knowledge.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Highly Recommend</h2>
                    <p class="cs-item-text">
                        Highly experienced staff of more than 100 professionals averaging 29+ years in industry and hands-on knowledge.
                    </p>
                </div>
            </li>
        </ul>
    </div>                            
</section>
                                
     <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1560">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop1.jpg" alt="mechanic" width="305" height="265">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop2.jpg" alt="mechanic" width="197" height="265">
            </picture>
            <!--Bottom Left image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop3.jpg" alt="mechanic" width="217" height="230">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop4.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop4.jpg" alt="mechanic" width="304" height="212">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop5.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shop5.jpg" alt="mechanic" width="305" height="445">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About us</span>
            <h2 class="cs-title">Accessible Wardrobe That Women Can Wear and Curate Over Time</h2>
            <p class="cs-text">
                Dive into the exhilarating world of fishing with Gill Rush, a dynamic and electrifying apparel brand designed exclusively for those who live for the rush of the catch. For avid anglers who feel the pulse quicken at the mere tug on their line, Gill Rush captures the essence of that heart-pounding moment when fish and fisherman lock in a fierce dance of skill and strategy.
            </p>
            <a href="" class="cs-button-solid">View All Collections</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1564">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Categories</span>
            <h2 class="cs-title">Top Categories</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">Spinning Fishing Pole</h3>
                        <p class="cs-item-text">
                            Adjustable Length Fishing Rod
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-one.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-one.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-one.png"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">Bowfishing</h3>
                        <p class="cs-item-text">
                            Adjustable Length Fishing Rod
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-two.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-two.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-two.png"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">Fishing Apparel & Rain Gear</h3>
                        <p class="cs-item-text">
                            Adjustable Length Fishing Rod
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-three.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-three.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-three.png"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-link-flex">
                        <h3 class="cs-h3">Fishing Apparel & Rain Gear</h3>
                        <p class="cs-item-text">
                            Adjustable Length Fishing Rod
                        </p>
                    </div>
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-orange.svg" alt="arrow" width="24" height="24">
                    </picture>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-three.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-three.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/cat-fish-three.png"
                            alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
        <img class="cs-background-top"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/fishing-rod.png" alt="rod" width="268"
                height="537" loading="lazy" decoding="async">
        <img class="cs-background-bottom"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/fishing-rod.png" alt="rod" width="268"
                height="537" loading="lazy" decoding="async">
    </div>
</section>
 <!--
    NOTE: This Stitch has overflow on the bottom of the section and will overlap the section below it in your site. To account for this overlap, add this padding top to the 1024px (64rem) media query for the seciton below it:

    /* 150px - 200px */
    padding-top: clamp(9.375rem, 16vw, 12.5rem);

    If there is not 1024px media query, create one and add this padding top to the #ID of the section.  This will help it account for the overlap from this section and not look cluttered and cramped */
-->

<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="promotions-1583">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Crafted with an unwavering dedication to quality and style</h2>
            <a href="" class="cs-button-solid">Shop Now</a>
        </div>
        <!-- Wrapper in a wrapper div so we can apply overlfow hidden to this div to cut off the overflow on the right edge at 1024px wide and not clip the overflow that hangs over the bottom -->
        <div class="cs-wrapper">
            <div class="cs-image-group">
                <!--Product Image, to get transparent PNG's of your products with a background, we use https://www.remove.bg/ to remove the images. They will come with empty space around them, to remove this empty space, crop your image to only the edges of the actual image. Or open it in GIMP photo editing software, at the top nav click on "Image" then "Crop to content" and this will remove the empty space around the PNG. Then export as a PNG to your project folder and you're done!-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/lure3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/lure3.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/lure3.png" alt="lure" width="771" height="488" aria-hidden="true">
                </picture>
                <div class="cs-price-box">
                    <!--Price Star-->
                    <svg class="cs-star" width="183" height="183" viewBox="0 0 183 183" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M106.942 0.641784L111.509 31.9019L134.192 9.9126L128.875 41.054L157.243 27.1504L142.564 55.1248L173.84 50.6679L151.234 72.7369L182.357 78.1629L154.038 92.1663L181.961 106.944L150.7 111.511L172.69 134.194L141.548 128.878L155.452 157.246L127.478 142.566L131.934 173.842L109.865 151.237L104.439 182.359L90.4361 154.04L75.6582 181.963L71.0912 150.703L48.4081 172.692L53.7246 141.551L25.3566 155.454L40.0361 127.48L8.76008 131.937L31.3656 109.868L0.243131 104.442L28.562 90.4384L0.639466 75.6605L31.8996 71.0936L9.91029 48.4105L41.0517 53.7269L27.1481 25.3589L55.1225 40.0384L50.6655 8.7624L72.7345 31.3679L78.1606 0.245449L92.164 28.5643L106.942 0.641784Z" fill="var(--starColor)"/>
                    </svg>
                    <span class="cs-price">
                        20%
                        <span class="cs-desc">Off</span>
                    </span>
                </div>
        </div>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/waves.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/waves.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/waves.jpg" alt="waves" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1565">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model.jpg" alt="model" width="586" height="752" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Our Features</span>
            <h2 class="cs-title">Accessible Wardrobe That Women Can Wear and Curate Over Time</h2>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/price-tag.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Member Discount</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises, return them within 30 days for a full refund. 
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/sheild.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Safe Payment</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises, return them within 30 days for a full refund. 
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/bag.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Shop with Confidence</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises, return them within 30 days for a full refund. 
                        </p>
                    </div>
                </li>
            </ul>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<div id="logos-1565">
    <div class="cs-container">
        <span class="cs-header">Shop By Brand</span>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Logos/logo6.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Logos/logo2.png" alt="logo" width="229" height="55" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Logos/logo3.png" alt="logo" width="235" height="53" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Logos/logo4.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Logos/logo5.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
        </picture>
        </div>
    </div>
    <!-- Background Graphic -->
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg" alt="waves" width="1920" height="300" aria-hidden="true" loading="lazy" decoding="async">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1579">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Categories</span>
            <h2 class="cs-title">Shop by Categories</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png">
                        <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png">
                        <img loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png"
                                width="365" height="201" alt="t-shirt">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">T-Shirts</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png">
                        <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png">
                        <img loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png" width="365"
                                height="201" alt="purse">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Bags</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png">
                        <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png">
                        <img loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png"
                                width="365" height="201" alt="shoes">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Shoes</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png">
                        <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png">
                        <img loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png"
                                width="365" height="201" alt="perfume">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Accessories</span>
                        <span class="cs-quantity">250+ Products Available</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
                                <!-- ============================================ -->
<!--                 Promotions                   -->
<!-- ============================================ -->

<section id="promotions-1567">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room1.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room1.jpg" alt="room" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Freshwater Fishing</span>
                    <h2 class="cs-h2">Get an Extra 30% off</h2>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room2.jpg" alt="room" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Freshwater Fishing</span>
                    <h2 class="cs-h2">Buy 2 Items - Get 1 for Free</h2>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                  
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1575">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/thumbs-up.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">99%</span>
                <span class="cs-desc">Positive customer feedback</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/box.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">10</span>
                <span class="cs-desc">Days free return policy</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/hand.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">24/7</span>
                <span class="cs-desc">Online customer support</span>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg" alt="wave" width="1280" height="568">
    </picture>
</section>                   

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1575">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <div class="cs-row">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/man2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/man2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/man2.jpg" alt="man" width="305" height="410">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing2.jpg" alt="man fishing" width="305" height="467">
                </picture>
            </div>
            <div class="cs-row">
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing.jpg" alt="man fishing" width="305" height="615">
                </picture>
                <picture class="cs-picture cs-picture4">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fish.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fish.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fish.jpg" alt="fish" width="305" height="277">
                </picture>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is your plan cancellation policy?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}